@using HybridTodo.State.Todo;
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<span>Todo Count Compo : @Todos.Todos.Count</span>

@code {
    [Parameter]
    public TodoState Todos { get; set; }
}
